/***************************************************************
  General style
***************************************************************/
body {
  background-color: #fff;
}

h2 {
  color: black;
  font-size: 36px;
  text-align: center;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

p {
  color: black;
  font-size: 18px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.btns {
  width: 260px;
  margin: 0 auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  font-family: 'Inconsolata', monospace;
  border-color: #AAA;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  color: #999;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 15px;
  border-top: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  border-left: solid 1px #CCC;
  background: #f9f9f9;
  width: 130px;
  outline: none;
}

button#vista-mapa {
  border-radius: 0px 4px 4px 0px;
}

button#vista-leyes {
  border-radius: 4px 0 0 4px;
}

button:hover {
  color: #000;
  background: #e9e9e9;
  border-color: #AAA;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
}

/***************************************************************
  Plots
***************************************************************/
.axis {
  font: 12px sans-serif;
}

.map {
  stroke: #fff;
  stroke-width: 2;
}

text {
  fill: black;
  font-size: 8px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  text {
    font-size: 20px;
  }
}

div.graph-text {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 18px;
  background: #ff2079;
  border: 0px;
  border-radius: 8px;
}

g > circle {
  stroke: #fff;
  stroke-width: 3px;
}

/***************************************************************
  Tooltip
***************************************************************/
#tooltip {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  font-family: Chivo-Regular;
  margin: 0;
  color: black;
  font-size: 15px;
  line-height: 20px;
}

#tooltip p strong {
  font-family: Chivo-Bold;
}
